@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.imgAlbum {
  position: relative;
  width: 100%;
  height: 300px; /* Sesuaikan tinggi */
}

figure {
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0 0 10px;
  -moz-column-break-inside: avoid;
  break-inside: avoid;
}

.accordion-faq button span {
  font-weight: bold;
  color: #000000;
}
.tabs-event {
  margin-left: 35px;
}
.tabs-event button span {
  background-color: #0bb90b;
}
.tabs-event button div {
  color: #000000 !important;
}
.input-date .box-content {
  color: #000000 !important;
}
.group[data-selected="true"] .group-data-\[selected\=true\]\:bg-primary {
  background-color: #0bb90b !important;
}
.box-duration {
  width: 120px;
  text-align: center;
}
.box-duration label {
  color: #272727;
  font-weight: 600;
  padding-left: 0px;
  padding-right: 13px;
}
